* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #808080;
    display: flex;
    flex-flow: column;
    font-family: "Arvo", cursive;
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  .btn {
    border: none;
    font-size: 5rem;
    font-family: "Arvo", cursive;
    line-height: 2;
    width: 150px;
    height: 150px;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.61);
  }
  
  .w {
    background-image: url("images/tom1.png");
  }
  
  .a {
    background-image: url("images/tom2.png");
  }
  
  .s {
    background-image: url("images/tom3.png");
  }
  
  .d {
    background-image: url("images/tom4.png");
  }
  
  .j {
    background-image: url("images/snare.png");
  }
  
  .k {
    background-image: url("images/crash.png");
  }
  
  .l {
    background-image: url("images/kick.png");
  }
  
  .animation {
    box-shadow: 0 5px 5px 0 #dbedf3;
    opacity: 0.5;
  }
  
  @media (min-width: 615px) {
    h1 {
      margin-bottom: 7rem;
    }
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3rem;
    }
  }